/* Handles del popup */


.form__Popup-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;     
  }
  
  /* Estilo para el contenedor del formulario */
  .form_Popup-Container{
    background-color: #F0F2FA; /* Color de fondo del formulario */    
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    position: relative;
    overflow-y: auto;
    margin: 50px;
    height: 85%;
  }

  
  .close_Btn{
    color: #fff;    
    font-size: 1.5rem;
  }
  .form__Close-Btn{    
    position: absolute;
    top: 40px;
    left: 260px;
    cursor: pointer;
    background: none;    
    border: none;
  }
  
  /* Handles de las columnas */
  .form__Main-Container{
    height: 100%;
  }

  .form__ColIzq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;        
  }
  .form__ColDer{
    background-color: #fff;
    padding: 25px;        
  }

  /* Handles de las Imgs */ 
  .form__Logo{
    max-width: 60%;
    min-width: 40%;
    height: auto;
  }
  .form__Img{
    max-width: 75%;
    width: 75%;
    min-width: 50%;
    height: auto;
  }

  /* form text and title style */
  .form__Title-Container{
    margin: 20px 0 40px 0;
  }
  .form__Title{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
  }
  .form__Form-Text{
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
  }
 
  /* Validation Style */

  .form-control.is-invalid{    
    background-image: url(../../assets/form/asterisk.png);
  }
  
  /* <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="asterisk"><path d="M18.562,14.63379,14.00031,12,18.562,9.36621a1.00016,1.00016,0,0,0-1-1.73242L13,10.26776V5a1,1,0,0,0-2,0v5.26776l-4.562-2.634a1.00016,1.00016,0,0,0-1,1.73242L9.99969,12,5.438,14.63379a1.00016,1.00016,0,0,0,1,1.73242L11,13.73224V19a1,1,0,0,0,2,0V13.73224l4.562,2.634a1.00016,1.00016,0,0,0,1-1.73242Z" fill="#d85b53" class="color000000 svgShape"></path></svg> */
  /* Submit Btn Style */
  .form__Form-Btn{
    background-color: #1698B6;
    width: 100%;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
  }
  .form__Form-Btn:hover{
    background-color: #fff;
    color:#1698B6;
    border-width: 2px;
    border-color: #1698B6;
    font-weight: 500;
  }

  /* // X-Small devices (portrait phones, less than 576px */
  @media (max-width: 768px){
    .form_Popup-Container{
        margin: 50px;
        height: 85%;
    } 
    /* body{
        overflow: hidden;
    } */
    .form__Close-Btn{    
        position: absolute;
        top: 30px;
        left: 50px;
    } 
    .form__ColDer{
      width: 100%;
    }  
  }

  @media (max-width: 992px){
    .form__Close-Btn{    
      position: absolute;
      top: 30px;
      left: 10px;
  }   
  }

  /* X-Large devices (large desktops, 1200px and up */
@media (max-width: 1400px) {
  .form__Close-Btn{    
    position: absolute;
    top: 30px;
    left: 90px;
    cursor: pointer;
    background: none;    
    border: none;
  }
}