.footer__Container{
    background-color: #171717;        
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__Text-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__Title-Container{
    margin: 20px 0;
    padding: 15px;
    text-align: center;
}
.footer__Title{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}
.footer__Subtitle-Container{
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer__Subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
}
.footer__Input-Container {
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;      
}

.footer_Input {    
    border-radius: 10px;
    border-style: none;
    padding: 10px 40px;   
    width: 250px;
    margin: 5px;     
}

.footer__Btn {    
    border-radius: 10px;
    border-style: none;
    padding: 10px 40px;    
    color: #ffffff;    
    background-color: #51A2F0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 5px;
}
.footer__Info-Container{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    border-bottom: solid 1px #ffffff;        
    padding: 20px 0;     
    width: 75%;
    margin-top: 50px;
}
.footer__Copyright-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.footer__Address{
    color: #ffffff;
    text-align: left;
    font-size: 1rem;
}
.footer__Rrss-Container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer__Rrss{
    color: #ffffff;
    font-size: 1.3rem;
}
a{
    text-decoration:none !important ;
}
.icon{
    margin: 0 10px;
    color: #ffffff;
}
.footer__Address-Container{    
    text-align: center;
}
.footer__Copyright{
    color: #ffffff;
    text-align: center;
}
.footer__Item{
    font-size: 0.8rem;
}
.footer__Sitemap-Container{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;    
    /* margin-left: auto;
    margin-right: auto; */
    flex-wrap: wrap;
}
.footer__List{
    list-style: none;
}

/* Data protectio */
/* +1 (917) 695-4990 */
span.rev { unicode-bidi:bidi-override; direction:rtl }
span.rev.email:before { content:"moc.civil" }
span.rev.email:after { content:"@ofni" }
span.rev.phone:before { content:"0994 - " }
span.rev.phone:after { content:" (719) 1+" }

@media (max-width: 768px) {
    .footer__Info-Container{
        margin: 0;        
    }
    .footer__Copyright-Container{
        justify-content: center;
    }
    .footer__Rrss-Container{
        justify-content: center;
    }    
}
@media (max-width: 576px) {    
    
    .footer__Rrss-Container{
        justify-content: flex-start;
    }
    .footer__Sitemap-Container{
        justify-content: flex-start;        
    }    
    .footer__Sitemap-List{
        padding: 0;
    }
}
