.approachContainer{     
    display: flex;    
    flex-direction: column;           
    align-items: center;
    justify-content: center;
}

.approach__Title-Container{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 50px;
    margin-top: 100px;
}
.approach__Title{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 3rem;    
}


.rowContainer{    
    background-image: url(../../assets/background_approach.webp);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 40vh;
    padding-left: 150px;   
    padding-right: 150px;
    background-position: center;
}

.imgContainer{   
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;    
}
.approach__img{
    max-width: 80%;
    width: 60%;
    height: auto;            
}
.title{
    font-family: 'Inter', sans-serif;
}

.text__Container{
padding-right: 60px;
padding-left: 16px;
}

.text__Text-Container{
    margin-top: 50px;
    padding-right: 80px;    
}
.text__Title{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: 30px;
}

@media (max-width: 1300px) {
    .rowContainer{
        padding-left: 20px;
        padding-right: 20px;
        background-position: center;
        width: 100%;
    }
    .approach__img{
        width: 80%;
    }
    .text__Container{
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .rowContainer{
        background-color: #ffffff;
        background-image: none;
        padding-left: 5px;
        padding-right: 5px;
        height: 70vh;
    }
    .approach__Title{
        margin-top: 50px;        
    }        
    .rowContainer{
        padding: 0 10px;
    }
    .imgContainer{
        justify-content: center;
        margin: 20px 0;
    }
    .text__Container{
        padding-right: 0;
    }
    .text__Title{     
        font-size: 1.2rem;        
    }
    .text{        
        font-size: 0.8rem;    
        line-height: 1.2rem;    
    }
}

